name = "mivoz"
main = "src/index.ts"
compatibility_date = "2024-03-20"
compatibility_flags = ["nodejs_compat"]

# Docs: https://developers.cloudflare.com/workers/wrangler/configuration/#environment-variables
[vars]
AUTH0_DOMAIN = "mivoz.auth0.com"
APP_CLIENT_ID = ""
APP_CLIENT_SECRET = ""
JWT_SECRET = ""
